<div class="entry">
    <label for="asset">{{localize 'USR.AssetName' }}:</label>
    <input id="asset" type="text" value="{{name}}"/>
</div>
<div class="entry">
    <label for="amount">{{localize 'USR.AssetAmount' }}:</label>
    <input id="amount" type="number" value="{{amount}}"/>
</div>
